<footer>
    <div class="container text-muted">
        <hr class="footer-divider">

        <p class="pull-right">
            <a href="mailto:vindo@vindo.co">vindo@vindo.co</a>
            <a class="github-button" href="https://github.com/vindo-app/vindo" data-icon="octicon-star" data-count-href="/vindo-app/vindo/stargazers" data-count-api="/repos/vindo-app/vindo#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star vindo-app/vindo on GitHub">Star</a>
        </p>
        
        <p>Vindo is made by <a href="/about">Theodore and Joseph</a>.</p>
        <!--<p>Vindo is awesome.</p>-->

    </div>
</footer>

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>