<header>
    <nav class="navbar navbar-fixed">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ site.baseurl }}/">
                    <img src="/images/vindo_icon.png" height="35" alt="">
                    {{ site.title }}
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% for page in site.pages %}
                    {% if page.title %}
                        <li>
                            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
    
    {% if page.index %}
        {% include highlight.html %}
    {% endif %}
</header>
