<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <title>{% if page.title %}{{ page.title }} - Vindo{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <link rel="icon" type="image/png" href="/images/512x512.png">
    
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/scroll.js"></script>
    <script src="/js/compatibility.js"></script>
    <script src="/js/fuse.min.js"></script>

    <meta name="google-site-verification" content="6HbHg1YvYjtkwlrGeD7xhBu5ZCFFXnYzJHpBFqlKsx4">    
    <meta name="msvalidate.01" content="FB674908C62603AB42E98CA7051791A1" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="VindoApp">
    <meta name="twitter:creator" content="tblodt">
    <meta name="twitter:title" content="Vindo">
    <meta name="twitter:description" content="Run Windows programs. On Mac.">
    <meta name="twitter:image" content="{{ site.url }}/images/512x512.png">
    
    <!-- Begin Inspectlet Embed Code -->
    <script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 527677671]);
    (function() {
    function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
    setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
    })();
    </script>
    <!-- End Inspectlet Embed Code -->
</head>
