<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <title>{% if page.title %}{{ page.title }} - Vindo{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="language" content="en-US">

    <meta name="google-site-verification" content="6HbHg1YvYjtkwlrGeD7xhBu5ZCFFXnYzJHpBFqlKsx4" />    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vanillabox/theme/bitter/vanillabox.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <link rel="icon" type="image/png" href="/images/512x512.png" />
    
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vanillabox/jquery.vanillabox.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.screenshot-link').vanillabox({
                closeButton: true
            });
        });
    </script>
</head>
