<header>
    <nav class="navbar navbar-fixed">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.baseurl }}/">
                        <img src="/images/vindo_icon.png" height="35" alt="">{{ site.title }}
                    </a>
                </div>
            </div>
            
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% for page in site.pages %}
                        {% if page.title %}
                            <li>
                                <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    
    {% if page.index %}
        {% include highlight.html %}
    {% endif %}
</header>
