<nav class="navbar navbar-fixed-top" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if page.url == '/' %}
                <a class="navbar-brand" href="#">
                {% else %}
                <a class="navbar-brand" href="/">
                {% endif %}
                    <img src="/images/vindo_icon.png" height="35" alt="Vindo Icon">Vindo
                </a>
            </div>
        </div>
        
        <div class="collapse navbar-collapse" id="navbar-collapse">
            {% if page.sections %}
                <ul class="nav navbar-nav">
                    {% for section in page.sections %}
                        <li><a href="#{{ section.id }}">{{ section.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/vindo-app/vindo/releases">Downloads</a></li>
                <li><a href="/blog/">Blog</a></li>

                <li class="social-media"><a href="https://twitter.com/VindoApp" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="social-media"><a href="https://github.com/vindo-app" target="_blank"><i class="fa fa-github"></i></a></li>
                <li class="social-media"><a href="https://vindo-slack.herokuapp.com" target="_blank"><i class="fa fa-slack"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
