.about-panel {
    .panel-body {
        padding: 10px;
    }
    
    .row {
        margin: 0;
    }
    .picture {
        padding-right: 10px;
        
        width: 192px;

        @media (max-width: 767px) {
            width: 100%;
            padding-right: 0px;
            padding-bottom: 16px;
        }
        
        img {
            width: 100%;
        }
    }
    .text {
        margin-bottom: 10px;
    }
}