a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: lighten($brand-color, 15%);
        text-decoration: underline;
    }
}

.nice-and-centered {
    max-width: 400px;
    margin: 0 auto;
}

.text-thin {
    font-weight: 100;
}