body  {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.5em;
}

a {
    color: $brand-color;
    text-decoration: none;
    transition: color 0.2s;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover, &:focus {
        color: lighten($brand-color, 20%);
        text-decoration: none;
    }
}

.nice-and-centered {
    max-width: 400px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
}

.js-only {
    display: none;
}
