.btn-download {
    background-color: #fe8afc;
    color: black;

    &:hover {
        text-decoration: none;
        color: black;
        background-color: darken(#fe8afc, 5%);
    }
    &:visited {
        color: black;
    }
}