.site-header {                                                                                                                                                                                                                                                                           
    background-color: lighten($brand-color, 15%);                                                                                                                                                                                                                                        
} 

.navbar-brand > img {
    display: inline-block;
    margin-top: -6px;
    padding: 2px;
}

.navbar a {
    color: white;
}

.nav > li > a:hover {
    background-color: lighten($brand-color, 7%);
}


.site-nav {
    display: -webkit-flex;
    display:         flex;

    background-color: white;
    box-shadow: inset 0 0 7px 7px lighten($brand-color, 15%);

    line-height: 56px;
    margin-bottom: 20px;
    .page-link {
        -webkit-flex: 1;
        flex: 1;

        font-size: 18px;
        text-align: center;

        display: inline-block;

        &:hover {
            text-decoration: none;
        }
    }
}

