.red-background {
    background-color: $brand-background;
    color: white;
    margin-bottom: 20px;
    .panel {
        color: black;
    }
}

// @media (max-width: 767px) {
html, body {
    min-height: 100%;
    height: 100%;
}
// }

.page {
    min-height: 100%;
}

.highlight {
    position: absolute;
    @media (min-width: 768px) {
        height: 288px;
        top: calc(50% - 144px);
        width: 700px;
        left: calc(50% - 350px);
    }
    @media (max-width: 767px) {
        height: 288px;
        top: calc(50% - 138px);
        width: 100%;
    }
    @media (max-height: 371px) {
        height: 168px;
        top: calc(50% - 84px);
    }

    img {
        margin: 0 auto;
        height: 288px;
    }

    @media (max-height: 371px) {
        // make them work on xs
        .col-sm-4 {
            width: 25%;
            margin-left: 8.33333333%;
            float: left;
        }
        .col-sm-8 {
            width: 58.33333333%;
            float: left;
        }
    }
    h1.very-important {
        font-weight: 100;
        font-size: 108px;
        @media (max-width: 767px) {
            font-size: 72px;
        }
        margin-top: 0;
    }
    h3 {
        margin-top: 0;
    }

    h1.page-title {
        text-align: center;
        font-size: 48px;
        color: white;
        margin-top: 0;
    }

    h1.post-title {
        font-size: 48px;
        color: white;
        margin-top: 0;
    }

    .date {
        color: white;
    }

    .btn-download {
        margin-top: 48px;
        width: 100%;
    }

    @media (max-width: 767px) {
        h1, h3 {
            text-align: center;
        }

        img {
            display: block;
            height: 168px;
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.showcase {
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    .program {
        margin-bottom: 20px;
    }
    .screenshot {
        img {
            width: 100%;
        }
    }

    .blurb {
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        img {
            width: 108px;
        }
        position: relative;
        // hard-code the height of the screenshot at each size
        // only way to equalize the columns without using flexbox
        @media (min-width: 768px) { // small
            height: 333px;
        }
        @media (min-width: 992px) { // medium
            height: 436px;
        }
        @media (min-width: 1200px) { // large
            height: 530px;
        }
    }

    @media(min-width: 768px) {
        .vertically-center {
            margin-top: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.compatibility {
    padding-bottom: 30px;

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    .compatibility-entry {
        &:first-child {
            margin-top: 20px;
        }
    }

    #search-box {
        text-overflow: ellipsis;
        @media (min-width: 768px) {
            text-align: center;
        }
    }
}

.arrow {
    position: absolute;
    bottom: 12px;
    width: 100%;

    text-align: center;
    a {
        font-size: 36px;
        color: white;
        text-shadow: 0px 0px 5px rgba(0,0,0,0.1);
        transition: text-shadow 0.3s, color 0.5s;
        &:hover {
            text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
        }
    }
}

