/**
 * Site header
 */
.site-header {
    background-color: lighten($brand-color, 15%);
}

.banner {
    text-shadow: 0px 0px 3px #000;
    height: 100px;
    padding: $spacing-unit 0;
    .site-title {
        font-size: 64px;
        line-height: 56px;

        &:hover {
            text-decoration: none
        }

        &, &:visited {
            color: $light-text-color;
        }
    }
    img {
        display: inline-block;
        height: 100%;
    }
}


.site-nav {
    display: -webkit-flex;
    display:         flex;

    background-color: white;
    box-shadow: inset 0 0 7px 7px lighten($brand-color, 15%);

    line-height: 56px;
    margin-bottom: 20px;
    .page-link {
        -webkit-flex: 1;
        flex: 1;

        font-size: 18px;
        text-align: center;

        display: inline-block;

        &:hover {
            text-decoration: none;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 20px;
    }
}
