.navbar {
    background-color: $brand-background;
    border: 0;

    .navbar-brand {
        color: white;
        img {
            display: inline-block;
            margin-top: -6px;
            margin-right: 8px;
            height: 29px;
        }
    }

    li > a {
        color: white;

        &:hover, &:focus {
            background-color: $brand-background;
            color: lightgray;
        }
    }
    li.active > a {
        background-color: darken($brand-background, 10%);
    }

    .icon-bar {
        background-color: white;
    }

    button.navbar-toggle {
        border: 1px solid white;

        &:hover, &:focus {
            background-color: $brand-color;
        }
    }

    .social-media {
        padding-left: 7px;

        a {
            display: inline-block;
            font-size: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 8px;
            margin-right: -18px;
            @media (min-width: 768px) and (max-width: 991px) {
                font-size: 16px;
                padding-left: 4px;
            }
        }
    }
}

body {
    margin-top: 70px;
}
