.navbar {
    background-color: $brand-background;
    border: 0;

    .navbar-brand {
        color: white;
        img {
            display: inline-block;
            margin-top: -6px;
            margin-right: 8px;
            height: 29px;
        }
    }

    li > a {
        color: white;

        &:hover, &:focus {
            background-color: $brand-background;
            color: lightgray;
        }
    }
    li.active > a {
        background-color: darken($brand-background, 10%);
    }

    .icon-bar {
        background-color: white;
    }

    button.navbar-toggle {
        border: 1px solid white;

        &:hover, &:focus {
            background-color: $brand-color;
        }
    }

    .social-media a {
        font-size: 20px;
        padding-left: 7px;
        padding-right: 0;
    }
}

body {
    margin-top: 70px;
}
